/* @font-face {
  font-family: mobilefont;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/MobileFont.woff') format('woff');
} */
  
#window {
  background: #000;
}

#title {
  color: #fff;
}
